<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <link rel="icon" href="/image/logo.png"/>
    <link rel="stylesheet" href="/css/adminpage.css"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자페이지</title>
</head>
<body>
<header>
    <a class="width-fit-content center block" href="/">
        <img src="/image/logo.png">
    </a>
    <div id="log-out">
        <p th:utext="${member.memberName}+ ' 관리자님, 반갑습니다!' " id="logout-text"></p>
    </div>

    <div class="width-100p bar">
        <label id="category">관리자 페이지</label>
    </div>
</header>
<div id="members"class="width-100p flex">
    <div id="memberdiv">
        <div class="flex justify-contents-space-between boxes" >
            <div class="small-title" id="first-title">
                <p>회원정보</p>
            </div>
            <div class="flex">
                <button class="btns small-title">회원 삭제</button>
                <button class="btns small-title">관리자로 전환</button>
                <button class="btns small-title">팀 전환</button>
            </div>
        </div>
        <div class="boxes tableDiv">
            <table id="member-table"class="width-98p" >
                <thead>
                <tr>
                    <th><input name="members" value="selectAll" onclick="selectAll(this)" type="checkbox"></th>
                    <th>이름</th>
                    <th>소속 팀</th>
                    <th>회원구분</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="memberList, iterStat : ${memberList}" th:class="${iterStat.count > 5} ? 'hidden-member' : ''">
                        <td><input th:value="memberList.id" name="members" type="checkbox"></td>
                        <td th:text="${memberList.memberName}">이름</td>
                        <td th:text="${memberList.memberTeamNum}+'팀'">소속팀</td>
                        <td>
                            <span th:if="${memberList.memberType.toString() == 'NORMAL'}">일반</span>
                            <span th:if="${memberList.memberType.toString() == 'ADMIN'}">팀장</span>
                            <span th:if="${memberList.memberType.toString() == 'SUPERADMIN'}">셀장</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="show-more-btn center btns" id="show-more-btn" onclick="showMore()">더보기</button>
        </div>
    </div>
    <div id="attendancediv">
        <div class="flex justify-contents-space-between boxes" >
            <div class="small-title" id="first-title">
                <p>나의 팀 출근정보</p>
            </div>
            <div class="flex">
                <button class="btns small-title">회원 삭제</button>
                <button class="btns small-title">관리자로 전환</button>
                <button class="btns small-title">팀 전환</button>
            </div>
        </div>
        <div class="boxes tableDiv">
            <table class="width-98p" >
                <thead>
                <tr>
                    <th>이름</th>
                    <th>소속 팀</th>
                    <th>상태</th>
                    <th>출근 시간</th>
                    <th>퇴근 시간</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attendanceList : ${attendanceList}">
                    <td th:text="${attendanceList.memberName}">홍길동</td>
                    <td th:text="${attendanceList.memberTeamNum}">1팀</td>
                    <td th:if="${attendanceList.formattedCheckInTime == attendanceList.formattedCheckOutTime}">출근</td>
                    <td th:if="${attendanceList.formattedCheckInTime != attendanceList.formattedCheckOutTime}">퇴근</td>
                    <td th:text="${attendanceList.formattedCheckInTime}">17:00:00</td>
                    <td th:if="${attendanceList.formattedCheckInTime == attendanceList.formattedCheckOutTime}">--:--:--</td>
                    <td th:if="${attendanceList.formattedCheckInTime != attendanceList.formattedCheckOutTime}" th:text="${attendanceList.formattedCheckOutTime}"></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>
<div class="width-98p center">
    <div class="flex justify-contents-space-between boxes" >
        <div class="small-title" id="first-title">
            <p>회원정보</p>
        </div>
        <div class="flex">
            <button id="noWork-YesBtn" class="btns small-title">승인</button>
            <button id="noWork-NoBtn" class="btns small-title">거절</button>
        </div>
    </div>
    <div id="noWorks-div">
        <div class="boxes tableDiv">
            <table class="width-98p" >
                <thead>
                <tr>
                    <th><input name="noWorks" value="selectAll" onclick="selectAll(this)" type="checkbox"></th>
                    <th>처리상태</th>
                    <th>작성날짜</th>
                    <th>이름</th>
                    <th>범주</th>
                    <th>세부 내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="noWorkList, iterStat : ${noWorkList}"  th:class="${iterStat.count > 5} ? 'hidden-noWork' : ''">
                    <td ><input th:value="${noWorkList.id}" name="noWorks" type="checkbox"></td>
                    <td th:if="${noWorkList.status.toString() == 'WAITING'}">대기</td>
                    <td th:if="${noWorkList.status.toString() == 'ABLE'}">승인</td>
                    <td th:if="${noWorkList.status.toString() == 'UNABLE'}">거절</td>
                    <td th:text="${noWorkList.selectedDate}">작성일</td>
                    <td th:text="${noWorkList.memberName}">이름</td>
                    <td th:text="${noWorkList.category}">알바</td>
                    <td th:text="${noWorkList.detail}">디테일</td>
                </tr>
                </tbody>
            </table>
            <button class="show-more-btn center btns" id="noWork-show-more-btn" onclick="showMoreNoWork()" >더보기</button>
        </div>
    </div>
</div>
</body>
<script src="/js/adminpage.js"></script>
<script type="application/javascript" th:inline="javascript">

    let member = [[${member}]];
    let noWorkList = [[${noWorkList}]];
    let memberList = [[${memberList}]];
    let attendanceList = [[${attendanceList}]];
    console.log(noWorkList);
    console.log(memberList);
    console.log(attendanceList);

    function selectAll(selectAll){
        const checkboxes = document.getElementsByName('members');

        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked;
        })
    }

    document.getElementById("log-out").addEventListener('click', () => {
        let tf = confirm("로그아웃 하시겠습니까?");
        if (tf) {
            window.location.href = '/member/logout';
        }
    })
    document.getElementById('logout-text').addEventListener('mouseover', function () {
        this.textContent = '로그아웃';
    });

    document.getElementById('logout-text').addEventListener('mouseout', function () {
        this.textContent = member.memberName+ ' 관리자님, 반갑습니다!';
    });

    function showMore() {
        let hiddenRows = Array.from(document.querySelectorAll('.hidden-member'));
        let nextRows = hiddenRows.slice(0, 5);
        nextRows.forEach(function(row) {
            row.classList.remove('hidden-member');
        });

        // "더보기" 버튼을 숨김 처리하기 위한 조건 검사
        if (hiddenRows.length <= 5) {
            document.getElementById('show-more-btn').style.display = 'none';
        }
    }

    function showMoreNoWork(){
        let hiddenRows = Array.from(document.querySelectorAll('.hidden-noWork'));
        let nextRows = hiddenRows.slice(0, 5);
        nextRows.forEach(function(row) {
            row.classList.remove('hidden-noWork');
        });

        // "더보기" 버튼을 숨김 처리하기 위한 조건 검사
        if (hiddenRows.length <= 5) {
            document.getElementById('noWork-show-more-btn').style.display = 'none';
        }
    }




</script>

</html>