<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <link rel="icon" href="/image/logo.png"/>
    <link rel="stylesheet" href="/css/adminpage.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자페이지</title>
</head>
<body>
<header>
    <div class="toggle-switch">
        <input type="checkbox" id="darkModeToggle" class="checkbox">
        <label for="darkModeToggle" class="label">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
        </label>
    </div>
    <a class="width-fit-content center block" href="/">
        <img src="/image/logo.png">
    </a>
    <div id="log-out">
        <p th:utext="${member.memberName}+ ' 관리자님, 반갑습니다!' " id="logout-text"></p>
    </div>
    <div class="width-100p bar">
        <label id="category">관리자 페이지</label>
    </div>
</header>
<div id="members"class="width-100p flex">
    <div id="memberdiv">
        <div class="flex justify-contents-space-between boxes" >
            <div class="small-title" id="first-title">
                <p>회원정보</p>
            </div>
            <div class="flex" th:if="${member.memberType.toString() == 'SUPERADMIN'}">
                <button id="delete-member-btn" class="btns small-title">회원 삭제</button>
                <button class="btns small-title">관리자로 전환</button>
                <button class="btns small-title">팀 전환</button>
            </div>
        </div>
        <div class="boxes tableDiv">
            <table id="member-table"class="width-98p" >
                <thead>
                <tr>
                    <th><input name="members"  value="selectAll" onclick="selectAll(this)" type="checkbox"  th:if="${member.memberType.toString() == 'SUPERADMIN'}"></th>
                    <th>이름</th>
                    <th>소속 팀</th>
                    <th>회원구분</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${memberList.isEmpty()}">
                    <td colspan="4">등록된 멤버가 없습니다.</td>
                </tr>
                <tr th:each="member, iterStat : ${memberList}" th:class="${iterStat.count > 5} ? 'hidden-member' : ''">
                    <td><input th:value="${member.id}" name="members" type="checkbox"  th:if="${member.memberType.toString() == 'SUPERADMIN'}"></td>
                    <td th:text="${member.memberName}">이름</td>
                    <td class="team-cell" th:attr="data-member-id=${member.id}" th:text="${member.memberTeamNum}+'팀'">팀</td>
                    <td>
                        <span th:if="${member.memberType.toString() == 'NORMAL'}">일반</span>
                        <span th:if="${member.memberType.toString() == 'ADMIN'}">팀장</span>
                        <span th:if="${member.memberType.toString() == 'SUPERADMIN'}">셀장</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="show-more-btn center btns" id="show-more-btn" onclick="showMore()">더보기</button>
        </div>
    </div>
    <div id="attendancediv">
        <div class="flex justify-contents-space-between boxes" >
            <div class="small-title" id="first-title">
                <p>출근정보</p>
            </div>
            <div class="flex">
                <form class="flex" id="attendanceForm" action="/admin/adminpage" method="GET">
                    <!-- 오늘 버튼 -->
                    <button type="button" class="btns small-title" id="todayButton">오늘</button>

                    <!-- 날짜 선택 -->
                    <input type="date" name="from" id="date-start">
                    ~
                    <input type="date" name="to" id="date-end">

                    <!-- 팀원 선택 -->
                    <div id="myDropdown" class="dropdown-container">
                        <a href="javascript:void(0);" class="dropdown-toggle btns small-title" id="dropdownToggle">팀원 선택</a>
                        <div class="dropdown-content">
                            <div th:each="memberList, iterStat : ${memberList}">
                                <a href="#" class="team-member" th:data-value="${memberList.id}" th:text="${memberList.memberName}">이름</a>
                            </div>


                            <button type="button" id="deselect-dropdown" class="deselect-button">선택 해제</button>
                            <button type="button" id="close-dropdown" class="close-button">닫기</button>
                        </div>



                    </div>

                    <!-- 조회 버튼 -->
                    <button type="submit" class="btns small-title" id="searchButton">조회</button>
                </form>
            </div>

        </div>
        <div class="boxes tableDiv">
            <table class="width-98p">
                <thead>
                <tr>
                    <th onclick="sortTable(this, 0)">이름 <span class="sort-icon">&#8597;</span></th>
                    <th onclick="sortTable(this, 1)">소속 팀 <span class="sort-icon">&#8597;</span></th>
                    <th onclick="sortTable(this, 2)">날짜 <span class="sort-icon">&#8597;</span></th>
<!--                    <th onclick="sortTable(this, 3)">지각 여부 <span class="sort-icon">&#8597;</span></th>-->
                    <th>출근 시간</th>
                    <th>퇴근 시간</th>
                </tr>
                </thead>
                <tbody id="attendanceTableBody">
                <tr th:if="${attendanceList.isEmpty()}">
                    <td colspan="6">출근한 인원이 없습니다.</td>
                </tr>
                <tr th:each="attendanceList : ${attendanceList}">
                    <td th:text="${attendanceList.memberName}">홍길동</td>
                    <td th:text="${attendanceList.memberTeamNum}">1팀</td>
                    <td th:text="${attendanceList.formattedCheckOutDate}">n월 n일</td>
<!--                    <td th:text="${attendanceList.lateStatus}">지각!</td>-->
                    <td th:text="${attendanceList.formattedCheckInTime}">17:00:00</td>
                    <td th:text="${attendanceList.formattedCheckOutTime}">19:00:00</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<div id="no-work-container" class="width-98p center">
    <div class="flex justify-contents-space-between boxes" >
        <div class="small-title" id="first-title">
            <p>회원정보</p>
        </div>
        <div class="flex">
            <button id="noWork-YesBtn" class="btns small-title" onclick="OkToNoWork()">승인</button>
            <button id="noWork-NoBtn" class="btns small-title" onclick="NotOkToNoWork()">거절</button>
        </div>
    </div>
    <div id="noWorks-div">
        <div class="boxes tableDiv">
            <table class="width-98p" >
                <thead>
                <tr>
                    <th><input name="noWorks" value="selectAll" onclick="selectAllNoWork(this)" type="checkbox"></th>
                    <th>처리상태</th>
                    <th>작성날짜</th>
                    <th>이름</th>
                    <th>범주</th>
                    <th>세부 내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${noWorkList.isEmpty()}">
                    <td colspan="6">미출근 사유 신청서가 없습니다.</td>
                </tr>
                <tr th:each="noWorkList, iterStat : ${noWorkList}"  th:class="${iterStat.count > 5} ? 'hidden-noWork' : ''">
                    <td ><input th:value="${noWorkList.id}" name="noWorks" type="checkbox"></td>
                    <td th:id="${noWorkList.id}" th:if="${noWorkList.status.toString() == 'WAITING'}">대기</td>
                    <td th:id="${noWorkList.id}" th:if="${noWorkList.status.toString() == 'ABLE'}">승인</td>
                    <td th:id="${noWorkList.id}" th:if="${noWorkList.status.toString() == 'UNABLE'}">거절</td>
                    <td th:text="${noWorkList.selectedDate}">작성일</td>
                    <td th:text="${noWorkList.memberName}">이름</td>
                    <td th:text="${noWorkList.category}">알바</td>
                    <td th:text="${noWorkList.detail}">디테일</td>
                </tr>
                </tbody>
            </table>
            <button class="show-more-btn center btns" id="noWork-show-more-btn" onclick="showMoreNoWork()"
                    th:if="${noWorkList != null && noWorkList.size() > 5}">더보기</button>

        </div>
    </div>
</div>

<div id="confirmModal" class="confirm-modal">
    <div class="confirm-modal-content">
        <p id="confirmModalMessage"></p>
        <div class="confirm-buttons">
            <button class="confirm-button confirm" onclick="handleConfirm(true)">확인</button>
            <button class="confirm-button cancel" onclick="handleConfirm(false)">취소</button>
        </div>
    </div>
</div>


<div id="reusableModal" class="reusable-modal">
    <div class="reusable-modal-content">
        <span id="reusable-modal-close">&times;</span>
        <p id="reusableModalMessage"></p>
    </div>
</div>

<div id="attendance-modal">
    <div class="attendance-modal-content">
        <h3 class="attendance-modal-title">출근시간 조정</h3>
        <form>
            <!-- 날짜 범위 -->
            <div class="attendance-form-group">
                <label for="startDate">시작 날짜:</label>
                <input id="startDate" type="date" name="startDate" required>
            </div>
            <div class="attendance-form-group">
                <label for="endDate">종료 날짜:</label>
                <input id="endDate" type="date" name="endDate" required>
            </div>

            <!-- 요일 선택 -->
            <div class="attendance-form-group">
                <label>요일 선택:</label>
                <div class="attendance-weekday-options">
                    <label><input type="checkbox" name="weekday" value="월"> 월</label>
                    <label><input type="checkbox" name="weekday" value="화"> 화</label>
                    <label><input type="checkbox" name="weekday" value="수"> 수</label>
                    <label><input type="checkbox" name="weekday" value="목"> 목</label>
                    <label><input type="checkbox" name="weekday" value="금"> 금</label>
                    <label><input type="checkbox" name="weekday" value="토"> 토</label>
                    <label><input type="checkbox" name="weekday" value="일"> 일</label>
                </div>
            </div>

            <!-- 시간 선택 -->
            <div class="attendance-form-group">
                <label for="startTime">출근 시간:</label>
                <input id="startTime" type="time" name="startTime" required>
            </div>

            <!-- 버튼 -->
            <div class="attendance-modal-buttons">
                <input type="button" class="attendance-confirm-button confirm" value="저장" onclick="handleAttendanceFormSubmit()"/>
                <button type="button" class="attendance-confirm-button cancel" onclick="closeAttendanceModal(this)">취소</button>
            </div>
        </form>
    </div>
</div>


</body>
<script src="/js/admin.js"></script>
<script type="application/javascript" th:inline="javascript">

    let member = [[${member}]];

    let noWorkList = [[${noWorkList}]];
    let memberList = [[${memberList}]];
    let attendanceList = [[${attendanceList}]];

</script>

</html>