<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <link rel="icon" href="/image/logo.png"/>
    <link rel="stylesheet" href="/css/attendance.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/calendar.css"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>근태관리</title>
</head>
<body>
<header>
    <div class="toggle-switch">
        <input type="checkbox" id="darkModeToggle" class="checkbox">
        <label for="darkModeToggle" class="label">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
        </label>
    </div>
    <a class="width-fit-content center block" href="/">
        <img src="/image/logo.png">
    </a>
    <div th:if="${member.memberType.toString() == 'ADMIN' || member.memberType.toString() == 'SUPERADMIN'}"  id="go-admin-btn">
        <a href="/admin/adminpage">
            <label>관리자페이지로 이동</label>
        </a>
    </div>
    <div id="log-out">

        <label>로그아웃</label>
        <img id="log-out-icon" src="/image/log-out-icon.svg" alt="log-out-icon">
    </div>
    <div class="width-100p bar">
        <label id="category">근태관리</label>
    </div>
</header>
<div class="flex"id="contents">
    <div class="boxes  left-box" >
        <div class="small-title" id="first-title">
            <p>오늘 근로한 시간</p>
        </div>
        <div>
            <a class="font-size-thirtytwo"><span id="hour">00</span>:<span id="min">00</span>:<span id="sec">00</span></a>
        </div>
        <div>
            <div class=" width-fit-content" id="btn-box">
                <button class="btns" id="start">출근</button>
                <button class="btns" id="stop">퇴근</button>
                <button class="btns" id="modalOpenButton">미 출근</button>
            </div>
        </div>
        <p class="font-size-ten" id="msg">오늘의 의무출근 시간을 아직 채우지 못했습니다. 어서 출근해서 채워주세요</p>
    </div>
    <div class="boxes">
        <div class="small-title">
            <p>팀원이 출근한 시간</p>
        </div>
        <div class="flex justify-contents-space-between " id="crews-div">
            <div class="center" th:if="${myTeamAttendanceList.isEmpty()}">
                출근한 팀원이 없어요!
            </div>
            <div th:each="myTeamAttendanceList : ${myTeamAttendanceList}">
                <p th:text="${myTeamAttendanceList.formattedCheckOutTime}">출근한 시간</p>
                <p th:text="${myTeamAttendanceList.memberName.equals(member.memberName)}? '나': ${myTeamAttendanceList.memberName}" >이름</p>
            </div>
        </div>
    </div>
    <div class="boxes" id="img-div">
        <img id="developer-img" src="/image/developer.png" alt="developer">
    </div>
</div>
<div class="boxes" id="schedule">
    <div class="small-title" id="first-title">
        <p>총 근무시간</p>
    </div>
    <p id="detail">여러분의 팀장님이 근무 스케줄을 체크합니다.</p>
    <div class="flex width-100p">
        <div class="flex width-100p"id = "graph-left">
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="mon">
                        </div>
                    </div>

                </div>
                <p class="week">월</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="two"></div>
                    </div>

                </div>
                <p class="week">화</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="wen"></div>
                    </div>
                </div>
                <p class="week">수</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="thur"></div>
                    </div>
                </div>
                <p class="week">목</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="fri"></div>
                    </div>
                </div>
                <p class="week">금</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-weekend-back">
                        <div class="stick-graph-weekend-front" id="sat"></div>
                    </div>
                </div>
                <p class="week">토</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-weekend-back">
                        <div class="stick-graph-weekend-front" id="sun"></div>
                    </div>
                </div>
                <p class="week">일</p>
            </div>

        </div>
        <div id="myChartDiv">
            <canvas id="myChart"></canvas>
            <p id="percent"></p>
        </div>
    </div>
</div>
<div class="boxes" id="noWorkList">
    <div class="small-title" id="first-title">
        <p>이번주 미출근 사유 작성 내역</p>
    </div>
    <table class="width-100p" >
        <thead>
        <tr>
            <th>처리 상태</th>
            <th>신청 일자</th>
            <th>범주</th>
            <th>상세 내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${noWorkList.isEmpty()}">
            <td colspan="4">미출근 사유 신청 내역이 없습니다.</td>
        </tr>
        <tr th:each="noWorkList, iterStat : ${noWorkList}"  th:class="${iterStat.count > 5} ? 'hidden-noWork' : ''">
            <td th:if="${noWorkList.status.toString() == 'WAITING'}">대기</td>
            <td th:if="${noWorkList.status.toString() == 'ABLE'}">승인</td>
            <td th:if="${noWorkList.status.toString() == 'UNABLE'}">거절</td>
            <td th:text="${noWorkList.selectedDate}">작성일</td>
            <td th:text="${noWorkList.category}">알바</td>
            <td th:text="${noWorkList.detail}">디테일</td>
        </tr>
      </tbody>

    </table>
    <button class="show-more-btn center btns" id="noWork-show-more-btn" onclick="showMoreNoWork()"
            th:if="${noWorkList != null && noWorkList.size() > 5}">더보기</button>

</div>

<div id="modalContainer" class="hidden">
    <form id="modalContent" >
        <div class="calendar-container">
            <div class="calendar-header">
                <span id="prev-month">&lt;</span>
                <span id="month-year">December 2022</span>
                <span id="next-month">&gt;</span>
            </div>
            <div class="calendar-body">
            </div>
        </div>
        <div class="selectBox">
            <select id="categorySelect" class="select">
                <option disabled selected>범주</option>
                <option value="알바">알바</option>
                <option value="병가">병가</option>
                <option value="생일">생일</option>
                <option value="기타">기타</option>
            </select>
        </div>
        <textarea name="detail" id="detailTextarea" cols="30" rows="10" placeholder="필요시 사유를 자세히 작성해주세요"></textarea>
        <input type="hidden" id="selected-date" name="date">
        <button class="btns" id="noWork">제출</button>
        <button class="btns" id="modalCloseButton">닫기</button>
    </form>
</div>

<div id="reusableModal" class="reusable-modal">
    <div class="reusable-modal-content">
        <span id="reusable-modal-close">&times;</span>
        <p id="reusableModalMessage"></p>
    </div>
</div>


<div id="confirmModal" class="confirm-modal">
    <div class="confirm-modal-content">
        <p id="confirmModalMessage"></p>
        <div class="confirm-buttons">
            <button class="confirm-button confirm" onclick="handleConfirm(true)">확인</button>
            <button class="confirm-button cancel" onclick="handleConfirm(false)">취소</button>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/calendar.js"></script>
<script type="application/javascript" th:inline="javascript">

    let member = [[${member}]];
    let myTeamAttendanceList = [[${myTeamAttendanceList}]];
    let myRecentAttendance = [[${myRecentAttendance}]];

</script>
<script src="/js/attendance.js"></script>
</html>