<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <link rel="icon" href="/image/logo.png"/>
    <link rel="stylesheet" href="/css/attendance.css"/>
    <link rel="stylesheet" href="/css/calendar.css"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>근태관리</title>
</head>
<body>
<header>
    <a class="width-fit-content center block" href="/">
        <img src="/image/logo.png">
    </a>
    <div th:if="${member.memberType.toString() == 'ADMIN' || member.memberType.toString() == 'SUPERADMIN'}"  id="go-admin-btn">
        <a href="/admin/adminpage">
            <label>관리자페이지로 이동</label>
        </a>
    </div>
    <div id="log-out">

        <label>로그아웃</label>
        <img id="log-out-icon" src="https://cdn4.iconfinder.com/data/icons/liny/24/logout-line-512.png" alt="log-out-icon">
    </div>
    <div class="width-100p bar">
        <label id="category">근태관리</label>
    </div>
</header>
<div class="flex"id="contents">
    <div class="boxes  left-box" >
        <div class="small-title" id="first-title">
            <p>오늘 근로한 시간</p>
        </div>
        <div>
            <a class="font-size-thirtytwo"><span id="hour">00</span>:<span id="min">00</span>:<span id="sec">00</span></a>
        </div>
        <div>
            <div class=" width-fit-content" id="btn-box">
                <button class="btns" id="start">출근</button>
                <button class="btns" id="stop">퇴근</button>
                <button class="btns" id="modalOpenButton">미 출근</button>
            </div>
        </div>
        <p class="font-size-ten" id="msg">오늘의 의무출근 시간을 아직 채우지 못했습니다. 어서 출근해서 채워주세요</p>
    </div>
    <div class="boxes">
        <div class="small-title">
            <p>팀원이 출근한 시간</p>
        </div>
        <div class="flex justify-contents-space-between " id="crews-div">
            <div class="center" th:if="${myTeamAttendanceList.isEmpty()}">
                출근한 팀원이 없어요!
            </div>
            <div th:each="myTeamAttendanceList : ${myTeamAttendanceList}"  th:unless="${myTeamAttendanceList.memberName.equals(member.memberName)}">
                <p th:text="${myTeamAttendanceList.formattedCheckOutTime}">출근한 시간</p>
                <p th:text="${myTeamAttendanceList.memberName}">이름</p>
            </div>
        </div>
    </div>
    <div class="boxes" id="img-div">
        <img id="developer-img" src="/image/developer.png" alt="developer">
    </div>
</div>
<div class="boxes" id="schedule">
    <div class="small-title" id="first-title">
        <p>총 근무시간</p>
    </div>
    <p id="detail">여러분의 팀장님이 근무 스케줄을 체크합니다.</p>
    <div class="flex width-100p">
        <div class="flex "id = "graph-left">
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="mon">
                        </div>
                    </div>

                </div>
                <p class="week">월</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="two"></div>
                    </div>

                </div>
                <p class="week">화</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="wen"></div>
                    </div>
                </div>
                <p class="week">수</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="thur"></div>
                    </div>
                </div>
                <p class="week">목</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-day-back">
                        <div class="stick-graph-day-front" id="fri"></div>
                    </div>
                </div>
                <p class="week">금</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-weekend-back">
                        <div class="stick-graph-weekend-front" id="sat"></div>
                    </div>
                </div>
                <p class="week">토</p>
            </div>
            <div class="graph-div">
                <div class="stick-graph">
                    <div class="stick-graph-weekend-back">
                        <div class="stick-graph-weekend-front" id="sun"></div>
                    </div>
                </div>
                <p class="week">일</p>
            </div>

        </div>
        <div id="myChartDiv">
            <canvas id="myChart"></canvas>
            <p id="percent"></p>
        </div>
    </div>
</div>
<div class="boxes" id="noWorkList">
    <div class="small-title" id="first-title">
        <p>이번주 미출근 사유 작성 내역</p>
    </div>
    <table class="width-100p" >
        <thead>
        <tr>
            <th>처리 상태</th>
            <th>신청 일자</th>
            <th>범주</th>
            <th>상세 내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${noWorkList.isEmpty()}">
            <td colspan="4">미출근 사유 신청 내역이 없습니다.</td>
        </tr>
        <tr th:each="noWorkList, iterStat : ${noWorkList}"  th:class="${iterStat.count > 5} ? 'hidden-noWork' : ''">
            <td th:if="${noWorkList.status.toString() == 'WAITING'}">대기</td>
            <td th:if="${noWorkList.status.toString() == 'ABLE'}">승인</td>
            <td th:if="${noWorkList.status.toString() == 'UNABLE'}">거절</td>
            <td th:text="${noWorkList.selectedDate}">작성일</td>
            <td th:text="${noWorkList.category}">알바</td>
            <td th:text="${noWorkList.detail}">디테일</td>
        </tr>
      </tbody>

    </table>
    <button class="show-more-btn center btns" id="noWork-show-more-btn" onclick="showMoreNoWork()"
            th:if="${noWorkList != null && noWorkList.size() > 5}">더보기</button>

</div>

<div id="modalContainer" class="hidden">
    <form id="modalContent" >
        <div class="calendar-container">
            <div class="calendar-header">
                <span id="prev-month">&lt;</span>
                <span id="month-year">December 2022</span>
                <span id="next-month">&gt;</span>
            </div>
            <div class="calendar-body">
            </div>
        </div>
        <div class="selectBox">
            <select id="categorySelect" class="select">
                <option disabled selected>범주</option>
                <option value="알바">알바</option>
                <option value="병가">병가</option>
                <option value="기타">기타</option>
            </select>
        </div>
        <textarea name="detail" id="detailTextarea" cols="30" rows="10" placeholder="필요시 사유를 자세히 작성해주세요"></textarea>
        <input type="hidden" id="selected-date" name="date">
        <button class="btns" id="noWork">제출</button>
        <button class="btns" id="modalCloseButton">닫기</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/calendar.js"></script>
<script type="application/javascript" th:inline="javascript">

    let member = [[${member}]];
    let myTeamAttendanceList = [[${myTeamAttendanceList}]];
    let myRecentAttendance = [[${myRecentAttendance}]];

    let myIp = "220.69";
    let start = document.getElementById("start");
    let stop = document.getElementById("stop");
    let noWork = document.getElementById("noWork")
    let logOut = document.getElementById("log-out")
    stop.disabled = true;
    let timer_sec;
    let timer_min;
    let timer_hour;
    let timer_micro;
    let timer = 0;
    let a = 10;

    document.getElementById("percent").innerText=a+"%";

    window.onload = function(){
        if(member == null){
            alert("돌아가라")
        }else{
            alert(member.memberName+"님, 환영합니다");
            //    세션에 출근상태인지 확인
            if (myRecentAttendance) {
                let tf = confirm("출근중!");
                if(tf){
                    let today = new Date(); // 현재 시간
                    let myRecentAttendance1 = new Date(myRecentAttendance); // 최근 출석 시간
                    console.log(myRecentAttendance1);
                    let differenceInMillis = today.getTime() - myRecentAttendance1.getTime();

                    let differenceInSeconds = Math.floor(differenceInMillis / 1000);
                    let differenceInMinutes = Math.floor(differenceInSeconds / 60);
                    let differenceInHours = Math.floor(differenceInMinutes / 60);

                    // 시간, 분, 초로 변환
                    let hours = Math.floor(differenceInHours);
                    let minutes = Math.floor(differenceInMinutes % 60);
                    let seconds = Math.floor(differenceInSeconds % 60);

                    console.log(hours+"시간"); // 시간 차이
                    console.log(minutes+"분"); // 분 차이
                    console.log(seconds+"초"); // 초 차이
                    if(hours<10){
                        document.getElementById("hour").innerText ="0"+ hours;
                    }else if(hours === 0){
                        document.getElementById("hour").innerText ="00";
                    }else{
                        document.getElementById("hour").innerText = hours.toString();
                    }
                    if(minutes<10){
                        document.getElementById("min").innerText ="0"+  minutes;
                    }else if(minutes === 0){
                        document.getElementById("min").innerText ="00";
                    }else{
                        document.getElementById("min").innerText =minutes.toString();
                    }
                    if(seconds<10){
                        document.getElementById("sec").innerText =  "0"+seconds;
                    }else if(seconds === 0){
                        document.getElementById("sec").innerText =  "00";
                    }else{
                        document.getElementById("sec").innerText =  seconds.toString();

                    }

                    startStopWatch();
                }
            }
        }
    }
    async function getExternalIp() {
        try {
            const response = await fetch('https://ipinfo.io/json');
            const data = await response.json();
            const ipAddress = data.ip;
            return ipAddress.split(".")[0] + "." + ipAddress.split(".")[1];
        } catch (error) {
            console.error('외부 IP 주소를 가져오는 중 오류 발생:', error);
        }
    }

    document.getElementById("log-out").addEventListener('click', () => {
        let tf = confirm("로그아웃 하시겠습니까?");
        if (tf) {
            window.location.href = '/member/logout';
        }
    })


    //click start button
    start.addEventListener("click",getCheckIn);
    //click stop button
    stop.addEventListener("click", getCheckOut);


    function startStopWatch() {
        start.disabled = true;
        stop.disabled = false;
        if(timer > 0){
            return;
        }
        let sec = parseInt(document.getElementById("sec").innerText);
        let min = parseInt(document.getElementById("min").innerText);
        let hour = parseInt(document.getElementById("hour").innerText);

        //start seconds
        timer_sec = setInterval(function(){
            //console.log(i);
            sec++;
            if(sec == 60) {
                sec = "00";
            } else if(sec < 10){
                sec = "0" + sec;
            }
            document.getElementById("sec").innerText = sec;
        }, 1000);

        //start minutes
        timer_min = setInterval(function(){
            min++;

            if(min == 60) {
                min = 0;
            } else if(min < 10){
                min = "0" + min;
            }

            document.getElementById("min").innerText = min;
        }, 60000);

        //start hours
        timer_hour = setInterval(function(){
            //console.log(hour);
            hour++;

            if(hour < 10){
                hour = "0" + hour;
            }

            document.getElementById("hour").innerText = hour;
            console.log(hour)
        }, 3600000);

        timer++;

    }
    function getCheckIn(){
        getExternalIp().then(ip =>{
            goCheckIn().then(ok=>{
                if ( ip === myIp) {
                    startStopWatch();
                }else{
                    alert("당신지금 어디야");
                }
            }).catch(error=>{
                alert("출근하는데 문제가 생겼어요..\n에러는 : ",error)
            })



        }).catch(err=>{
            alert("ip를 받아오는데 문제가 발생했어요\n에러는 : ",err);
        })

    }
    function getCheckOut(){
        if(hour.innerText<5){
            let tF= confirm("시간을 충족하지 못했습니다. 그래도 퇴근하시겠습니까?");
            if(tF){
                document.getElementById("msg").innerText = "어서 더 채워 주세요!";
                clearInterval(timer_micro);
                clearInterval(timer_sec);
                clearInterval(timer_min);
                clearInterval(timer_hour);

                timer--;
                if(timer < 0){
                    timer = 0;
                }
                goCheckOut().then(res =>{
                    start.disabled = false;
                    stop.disabled = true;
                }).catch(err=>{
                    alert("퇴근하는데 문제가 생겼어요..\n에러는 : ",err);
                })
            }else{
                start.disabled = true;
                stop.disabled = false;

            }
        }else{
            document.getElementById("msg").innerText = "오늘의 할당량을 마치셨습니다!";
            clearInterval(timer_micro);
            clearInterval(timer_sec);
            clearInterval(timer_min);
            clearInterval(timer_hour);

            timer--;
            if(timer < 0){
                timer = 0;
            }
            goCheckOut().then(res =>{
                start.disabled = false;
                stop.disabled = true;
            }).catch(err=>{
                alert("퇴근하는데 문제가 생겼어요..\n에러는 : ",err);
            })
        }
    }



    // 출근 로직
    async function goCheckIn() {
        try {
            const response = await fetch('/api/checkIn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });

            if (response.status === 404) {
                alert("세션이 종료되었습니다. 다시 로그인해주세요")
            } else if (response.ok) {
                return response;
            } else {
                return 'Error during check-in' ;
            }
        } catch (error) {
            return error;
        }
    }

    // 퇴근 로직
    async function goCheckOut(){
        try{
            const response = await fetch('/api/checkOut',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });

            if (response.status === 404) {
                alert('세션이 종료되었습니다. 다시 로그인해주세요');
            } else if (response.ok) {
                return response;
            } else {
                return 'Error during check-in' ;
            }
        } catch (error) {
            return error;
        }
    }
    document.getElementById('noWork').addEventListener('click', async (e) => {
        e.preventDefault();

        // 선택된 범주 값을 가져오기
        const categorySelect = document.getElementById('categorySelect');
        const selectedCategory = categorySelect.options[categorySelect.selectedIndex].value;

        // 입력된 텍스트 가져오기
        const detailTextarea = document.getElementById('detailTextarea');
        const detailText = detailTextarea.value;

        console.log(selectedDateInput.value);
        try {
            const response = await fetch('/api/noWork', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    category: selectedCategory,
                    detail: detailText,
                    selectedDate: selectedDateInput.value
                }),
            });

            if (response.status === 404) {
                alert('세션이 종료되었습니다. 다시 로그인해주세요');
                window.location = '/member/login';
            } else if (response.ok) {
                alert("제출되었습니다.")
                return response;
            } else {
                alert("오류입니다");
            }
        } catch (error) {
            return error;
        }
    });



    const modalOpenButton = document.getElementById('modalOpenButton');
    const modalCloseButton = document.getElementById('modalCloseButton');
    const modal = document.getElementById('modalContainer');
    modalOpenButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
    });

    modalCloseButton.addEventListener('click', (e) => {
        e.preventDefault();
        modal.classList.add('hidden');

    });


    var context = document
        .getElementById('myChart')
        .getContext('2d');
    var myChart = new Chart(context, {
        type: 'doughnut', // 차트의 형태
        data: { // 차트에 들어갈 데이터
            datasets: [
                { //데이터
                    label: [
                        '근무량',
                        '남은근무'
                    ], //차트 제목
                    data: [
                        a,100-a //x축 label에 대응되는 데이터 값
                    ],
                    backgroundColor: [
                        //색상
                        '#00B4ED',
                        '#5CD2E6'
                    ],
                    borderWidth: 0 //경계선 굵기
                }
            ]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true
                        }
                    }
                ]
            }
        }
    });

    function showMoreNoWork(){
        let hiddenRows = Array.from(document.querySelectorAll('.hidden-noWork'));
        let nextRows = hiddenRows.slice(0, 5);
        nextRows.forEach(function(row) {
            row.classList.remove('hidden-noWork');
        });

        // "더보기" 버튼을 숨김 처리하기 위한 조건 검사
        if (hiddenRows.length <= 5) {
            document.getElementById('noWork-show-more-btn').style.display = 'none';
        }
    }

</script>
<script src="/js/attendance.js"></script>
</html>