body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5CD2E6;
    color: #333;
}

header {
    background-color: #FFF;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

button {
    padding: 0.5em 1em;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

footer {
    background-color: #FFF;
    padding: 1em;
    text-align: center;
}

/* 추가된 스타일 */
.login-button {
    background-color: #007BFF;
    margin-left: 10px;
}