<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/logo.png"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
<header>

    <h1>Welcome to Our Website</h1>
    <a href="/member/login" class="login-button" th:if="${member == null}">
        <button>Login</button>
    </a>
    <!-- 출근하러가기 버튼, member 객체가 존재하면 보여줌 -->
    <a href="/member/attendance" class="work-button" th:if="${member != null}">
        <button>출근하러가기</button>
    </a>
    <a href="/member/logout" class="work-button" th:if="${member != null}">
        <button>로그아웃</button>
    </a>
</header>

<section>
    <p>yANUs 메인페이지는 아직 공사중이에요..</p>
</section>

<footer>
    &copy; 2023 Our Company. All rights reserved.
</footer>

</body>
</html>
