<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/logo.png"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Press+Start+2P"
    />

    <style>

    </style>
    <script>
        window.console = window.console || function (t) {};
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>
<body>
<script src="js/1.js"></script>

<header>

    <p>보안셀 페이지</p>
    <a href="/member/login" class="login-button" th:if="${member == null}">
        <button>Login</button>
    </a>
    <div class="toggle-switch">
        <input type="checkbox" id="darkModeToggle" class="checkbox">
        <label for="darkModeToggle" class="label">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
        </label>
    </div>
    <button class="login-button" id="modalOpenButton">머리식히기</button>
    <a href="/attendance/" class="work-button" th:if="${member != null}">
        <button>출근하러가기</button>
    </a>
    <a href="/member/logout" class="work-button" th:if="${member != null}">
        <button>로그아웃</button>
    </a>
</header>

<section>
    <canvas id="logo-canvas"></canvas>
</section>

<div id="modalContainer" class="hidden">
    <div id="modalContent" >
        <div id="game">
            <div id="road">
                <div id="cloud"></div>
                <div id="hero"></div>
            </div>

            <div id="hud">
                <span id="time" class="topUI">0</span>
                <span id="score" class="topUI">0</span>
                <span id="lap" class="topUI">0'00"000</span>
                <span id="tacho">0</span>
            </div>

            <div id="home">
                <h1>Dash</h1>
                <p id="text"></p>

                <div id="highscore"></div>
            </div>
        </div>

        <div id="controls">
            <span><span>C</span>insert coin</span>
            <span><span>M</span>mute</span>
            <span><span>&lt;</span><span>&gt;</span>move</span>
            <span><span>&lt;</span><span>&gt;</span>accelerate</span>
        </div>
        <button class="btns" id="modalCloseButton">닫기</button>
    </div>
</div>
<script src="js/1.js"></script>
<script src="js/null.js"></script>
<footer>
    &copy; 2023 Our Company. All rights reserved.
</footer>
</body>
<script src="js/main.js"></script>
</html>
